.responsive-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: auto;
}

.responsive-table thead {
  background-color: #f2f2f2;
}

.responsive-table thead th {
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
}

.responsive-table tbody td {
  padding: 10px;
  border: 1px solid #ddd;
}

.responsive-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.btn {
  background-color: #ddd;
  padding: 5px 20px;
  cursor: pointer;
  transition: .3s;
}

.btn:hover {
  background-color: #d6c8c8;
}

ng-icon {
  font-size: 20px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

ng-icon[name="ionPencilSharp"] {
  color: rgb(31, 31, 31);
}

ng-icon[name="ionPencilSharp"]:hover {
  color: rgba(31, 31, 31, 0.544);
}

ng-icon[name="ionTrashSharp"] {
  color: rgb(192, 69, 69);
}

ng-icon[name="ionTrashSharp"]:hover {
  color: rgba(192, 69, 69, 0.511);
}

ng-icon[name="ionCheckmarkCircle"] {
  color: rgb(17, 85, 17);
}

ng-icon[name="ionCloseCircle"] {
  color: rgb(192, 69, 69);
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  .responsive-table thead {
    display: none;
  }

  .responsive-table tbody tr {
    display: block;
    margin-bottom: 10px;
  }

  .responsive-table tbody td {
    display: block;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding: 10px 10px 10px;
    box-sizing: border-box;
  }

  .responsive-table tbody td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: calc(50% - 20px);
    white-space: nowrap;
    font-weight: bold;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
  }
}
