<table class="responsive-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Senha</th>
        <th>Quantidade de cartão</th>
        <th>-</th>
        <th>Editar</th>
        <th>Remover</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users">
      <tr>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>********</td>
        <td>{{user.cards?.length}}</td>
        <td><a routerLink="/{{user.id}}" class="btn">Mostrar cartões</a></td>
        <td><ng-icon (click)="openUpdateModal(user.id)" name="ionPencilSharp"></ng-icon></td>
        <td><ng-icon (click)="deleteUser(user.id)" name="ionTrashSharp"></ng-icon></td>
      </tr>
    </tbody>
</table>
<app-update-user-form></app-update-user-form>
