<table class="responsive-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Senha</th>
        <th>Quantidade de cartão</th>
        <th>-</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>João Silva</td>
        <td>joao@example.com</td>
        <td>********</td>
        <td>5</td>
        <td><a class="btn">Mostrar cartões</a></td>
      </tr>
      <tr>
        <td>João Silva</td>
        <td>joao@example.com</td>
        <td>********</td>
        <td>5</td>
        <td><a class="btn">Mostrar cartões</a></td>
      </tr>
    </tbody>
</table>
